spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bootcamp
    username: postgres
    password: 12345
  jpa: 
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8080
  
  
