<p>user.component works!</p>
<pre> {{ | json }}</pre>
<><li *ngFor= "let u of users"
{{ u.name }} - {{ u.email }}

></li>/ul></li>

<div></div>
<button class="btn btn-primary mb -4"> Bostón con Bootstrap</button>
<p> Hola Mundo </p>

<br>

<ul>
@for (u of users; track u.id)
{<li>{{ u.name }} - {{ u.email }}</li>
}

</ul>

<div>

@for(u of users; track u.id){

}
<div class="card" style="width: 18rem">
</div> class="card-body">
<h5 class="card-tatle">{{ <u class="id"></u>    }}Card </title></h5>
<h6 class="card-subtitle mb-2 text-body-secondary">{u.email}</h6>
<p class="card-text" >Some quick exaple text to build on the card title and make up the bulk of the car's</p>
<a href="#" class="card-link">Card link</a>
<a href="#" class="card-link">Another link</a>
</div>
</div>

<! -- <p>Hola Mundo</p>